.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.result.cache
k6
*.md
database/sql
Dockerfile
.dockerignore
